<%- include("header") -%>
<h2>This is the about Page </h2>

<p> Lorem ipsum dolor sit amet, ut egestas vestibulum aliquam, class duis, quis mi sit amet nibh congue, a suspendisse velit. A laoreet ultricies lectus, amet dui integer nulla lectus, odio vulputate dictum montes nulla malesuada, ipsum odio odio eros a turpis sed. Malesuada convallis, dolor non imperdiet vitae velit lacinia fringilla, ut diam velit vitae lorem tellus. Vehicula amet eget, ut eget neque. In faucibus vel quam diam, eget et et commodo molestiae sagittis, a ipsum arcu, facilisi velit auctor dapibus mi. Lectus et, wisi ornare dignissim vulputate libero, mattis dui in mauris luctus, cras fusce venenatis fermentum lectus.

</p>
<%- include("footer") -%>
